<!DOCTYPE html>
<html>

  <h1>Pirate</h1>
    <h2>Name: <%= @pirate.name %></h2>
    <h2>Weight: <%= @pirate.weight %></h2>
    <h2>Height: <%= @pirate.height %></h2>


  <h1>First Ship</h1>
    <h2>Name: <%= @ships[0].name %></h2>
    <h2>Type: <%= @ships[0].type %></h2>
    <h2>Booty: <%= @ships[0].booty %></h2>


<h1>Second Ship</h1>
    <h2>Name: <%= @ships[1].name %></h2>
    <h2>Type: <%= @ships[1].type %></h2>
    <h2>Booty: <%= @ships[1].booty %></h2>

</html>